body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#timer {
    background-color: #FF6347;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1.2em;
}

#ques {
    background-color: #e7f3fe;
    border: 1px solid #b3d7ff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.1em;
}

.options {
    text-align: left;
    margin-bottom: 20px;
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    color: #333;
    font-size: 1em;
}

#btn {
    background-color: #008000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#btn:disabled {
    background-color: #A9A9A9;
    cursor: not-allowed;
}


